<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.ehr.mapper.MenusMapper">
    <resultMap id="menuVo" type="com.neusoft.ehr.entity.vo.MenuVo">
        <id column="id" property="id" javaType="java.lang.Long"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="path" property="path" javaType="java.lang.String"/>
        <result column="menu" property="is_menu" javaType="java.lang.Boolean"/>
        <association column="parent" property="parent" select="com.neusoft.ehr.mapper.MenusMapper.select"/>
    </resultMap>
    <select id="select" resultMap="menuVo">
        select id, name, path, is_menu, parent
        from menus
        where authority = #{authority}
    </select>
</mapper>
